/*!
  Pure v0.5.0
  Copyright 2014 Yahoo! Inc. All rights reserved.
  Licensed under the BSD License.
  https://github.com/yui/pure/blob/master/LICENSE.md
*/
.pure-button
  display inline-block
  *display inline
  zoom 1
  line-height normal
  white-space nowrap
  vertical-align baseline
  text-align center
  cursor pointer
  user-drag none
  user-select none
  font-family inherit
  font-size 100%
  *font-size 90%
  *overflow visible
  padding 0.5em 1em
  color #444
  color rgba(0, 0, 0, 0.80)
  *color #444
  border 1px solid #999
  border none rgba(0, 0, 0, 0)
  background-color #E6E6E6
  text-decoration none
  border-radius 2px
  &::-moz-focus-inner
    padding 0
    border 0
    padding 0
    border 0
  &:focus
    outline 0

.pure-button-hover,
.pure-button:hover,
.pure-button:focus
  filter unqoute('progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#1a000000",GradientType=0)')
  background-image gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)))
  background-image unqoute("linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10))")
  background-image unqoute("linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10))")
  background-image unqoute("linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10))")

.pure-button-active,
.pure-button:active
  box-shadow 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active
  border none
  background-image none
  filter unquote('progid:DXImageTransform.Microsoft.gradient(enabled = false)')
  filter unquote('alpha(opacity=40)')
  opacity 0.40
  cursor not-allowed
  box-shadow none

.pure-button-hidden
  display none

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected
  background-color rgb(0, 120, 231)
  color #fff
