sm = 30em   //480px
m = 45em    //720px
l = 60em    //960px
xl = 75em   //1200px

.first-con
  width 100vw
  height 100vh
  z-index -1

.first-con_top
  img
    //bottom 50%
    +media-query(only screen, min-width 601px)
      height auto
      min-height 100%
      top -25vh
      position relative
      width 100%
    +media-query(only screen, max-width 600px)
      height 100%
      left -25vw
      min-width 100%
      position relative
      width auto
  position relative
  overflow hidden
  height 50%
  width 100vw
  background black

.first-con_bot
  h2
    padding-top 25vh
  text-align center
