sm = 30em   //480px
m = 45em    //720px
l = 60em    //960px
xl = 75em   //1200px

.first-con
  width 100vw
  height 100vh
  z-index -1

.banner
  background white
  height 50%
  overflow hidden
  position relative
  text-align center
  width 100vw
  h1
    padding-top 10vh

.first-con_bot
  h2
    padding-top 25vh
  text-align center
