sm = 30em   //480px
m = 45em    //720px
l = 60em    //960px
xl = 75em   //1200px

.first-con
  width 100vw
  height 100vh
  z-index -1

.banner
  retina-image '../images/subtle_carbon.png'
  height 50%
  overflow hidden
  position relative
  text-align center
  width 100vw
  img
    position relative
    left 0
  header
    position absolute
    top 0
    width 100vw
    h1
      padding-top 10vh

.first-con_bot
  text-align center
  div
    font-size 1.3em
    padding-top 25vh

+media-query(all, orientation portrait)
  .banner
    img
      left -30vw
      height 70vh

+media-query(all, orientation landscape)
  .banner
    img
      width 100vw
