@require 'util'

.connect
  background-color gray
  retina-image '../images/subtle_carbon.png'

.connect_heading
  color white
  text-align center
  overflow auto
  span.threes
    color $r3d
.connect
  button
    background-color $r3d
