.first-con
  width 100vw
  height 100vh
  z-index -1

.first-con_top
  img
    position absolute
    @media only screen and (min-width: 1000px)
      bottom -50vh
      left -10vw
      width 110vw
    @media only screen and (min-width: 500px) and (max-width: 1000px)
      bottom -34vh;
      left -73vw;
    @media only screen and (max-width: 500px)
      bottom -37vh;
      left -73vw;
  position relative
  overflow hidden
  height 50%
  width 100vw
  background black
