sm = 30em   //480px
m = 45em    //720px
l = 60em    //960px
xl = 75em   //1200px

.first-con
  width 100vw
  height 100vh
  z-index -1

.first-con_top
  img
    left -10vw
    position absolute
    width 120vw
    +media-query(only screen, min-width 801px)
      top -44vh
  position relative
  overflow hidden
  height 50%
  width 100vw
  background black

.first-con_bot
  h2
    padding-top 25vh
  text-align center
