.logo
  //width 33vw
  svg
    height 30vh
    padding-top 8vh
    width 30vw

.logo-container
  z-index 10

.logo-container
  position absolute
  text-align center
  height 100%
  width 100%
  &:before
    content ''
    display inline-block
    height 100%
    vertical-align middle

.v-center
  display inline-block
  width 100%
  vertical-align middle
