.logo
  width 300px
  svg
    height: 30vh
    width: 30vw
.logo-type
  svg
    height: 20px
    width: 40px
.logo-container
  text-align center
  height 100%
  &:before
    content ''
    display inline-block
    height 100%
    vertical-align middle
.v-center
  display inline-block
  width 100%
  vertical-align middle
