@import 'kouto-swiss'
normalize()
@import 'pure/grids.css'
@import 'pure/grids-responsive.css'
@import 'pure/buttons.css'
@import 'pure/forms.css'
@import 'util'

font-face('pt-sans-regular', 'fonts/ptsans_regular/PTS55F-webfont')
font-face('pt-sans-narrow', 'fonts/ptsansnarrow/PTN57F-webfont')

html
p
button
input
select
textarea
  font-family 'pt-sans-narrow'

h1
h2
h3
h4
h5
h6
  font-family 'pt-sans-regular'

body
  height 100vh
  width 100vw

#app
.main-app
  height 100%
  width 100%

.con
  height 100vh

@import 'logo'
@import 'first-con'
@import 'services'
@import 'work'
@import 'team'
@import 'connect'
