@import 'pure/pure.css'
@import 'pure/grids-responsive.css'
@import 'logo'
@import 'first-con'
@import 'services'
@import 'work'
@import 'team'
@import 'connect'

body
  height 100vh
  width 100vw

#app
.main-app
  height 100%
  width 100%

.con
  height 100vh
