.services
  background-color #C1272D
  color white
  text-align center

.services svg
  fill white

.services_content
  padding-bottom 2em

.services_block-padding p
  padding-left 2em
  padding-right 2em

.services_heading h2
  padding-top 2em
