.team
  background-color #C1272D

.team_heading
  text-align center
  overflow auto
  span.threes
    color white

.team_block
  text-align center
  color white

.team_block-padding p
  padding-left 2em
  padding-right 2em
