@require 'nib/image'

.work
  background-color #D1D2D4
  color white
  image '../images/subtle_carbon.png'

.work_heading
  text-align center
  overflow auto

.work_content
.work_block
  height 75%

.work_block-img-1
  img
    display block
    margin 0 auto
    padding-bottom 2.5em
    width 50%
.work_block-img-2
  img
    width 40%
.work_block-img-3
  img
    width 30%
