.team
  background-color $r3d
  background-image url('../images/bg-team.jpg')
  background-size cover

.team_heading
  padding 80px 0 50px 0
  text-align center
  overflow auto
  color white

.blocks-container
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content center

.team_block
  width: 300px
  text-align center
  color white

  p
    text-align justify
  a
    color white
    opacity 0.5
    padding 0 20px
    .fa-github-alt
      color black
      padding 2px 0 0 0
    .fa-desktop
      color black
      padding 4px 0 0 0
    .fa-linkedin
      color black
    .fa-envelope
      color black

    &:hover
      color white
      opacity 1
      .fa-github-alt
        color black
      .fa-desktop
        color black
      .fa-linkedin
        color black
      .fa-envelope
        color black

.team_block-padding
  padding 0 1.0em 5em 1.0em
