bower_components
node_modules
.DS_Store
.sass-cache/
**/*.swap
config/runtime.*
npm-debug.log
*.env
*.log

# ignore bundle, make sure to compile it in production
public/js/bundle.js
public/css/main.css
