p
  | Hello #{ name.first },
  br
  p Thanks for connecting with us at The R3DM.
  | My name is Berkeley and I would love to here more about your project.
  | We have a couple of questions before we can get started.
  ul
    li Whats is your budget?
    li Are you the decision maker on the project?
    li What does success look like for this project?
  br
  p I look forward to hearing from you.
  p Best,
  p &nbsp;&nbsp;-Berkeley Martinez
  p CEO at The R3DM
