doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title INSPINIA | 404 Error
  body.gray-bg
    .middle-box.text-center.animated.fadeInDown
      h1 404
      h3.font-bold Page Not Found
      .error-desc
        | Sorry, but the page you are looking for has note been found.
        | Try checking the URL for error, then hit the refresh button on your
        | browser or try found something else in our app.
        //-
          form.form-inline.m-t(role='form')
          .form-group
            input.form-control(type='text', placeholder='Search for page')
          button.btn.btn-primary(type='submit') Search
