html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/*
  Pure v0.5.0
  Copyright 2014 Yahoo! Inc. All rights reserved.
  Licensed under the BSD License.
  https://github.com/yui/pure/blob/master/LICENSE.md
*/
.pure-button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%;
  *overflow: visible;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0,0,0,0.8);
  *color: #444;
  border: 1px solid #999;
  border: none rgba(0,0,0,0);
  background-color: #e6e6e6;
  border-radius: 2px;
}
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
  padding: 0;
  border: 0;
}
.pure-button:focus {
  outline: 0;
}
.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
  filter: unqoute('progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#1a000000",GradientType=0)');
  background-image: gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0,0.05)), to(rgba(0,0,0,0.1)));
  background-image: unqoute("linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10))");
  background-image: unqoute("linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10))");
  background-image: unqoute("linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10))");
}
.pure-button-active,
.pure-button:active {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 6px rgba(0,0,0,0.2) inset;
}
.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}
.pure-button-hidden {
  display: none;
}
.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #0078e7;
  color: #fff;
}
/*
  Pure v0.5.0
  Copyright 2014 Yahoo! Inc. All rights reserved.
  Licensed under the BSD License.
  https://github.com/yui/pure/blob/master/LICENSE.md
*/
.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pure-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pure-form input:not([type]):focus {
  outline: 0;
  outline: thin dotted 9;
  border-color: #129fea;
}
.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.pure-form input[type="color"] {
  padding: 0.2em 0.5em;
}
.pure-form select {
  border: 1px solid #ccc;
  background-color: #fff;
}
.pure-form select[multiple] {
  height: auto;
}
.pure-form label {
  margin: 0.5em 0 0.2em;
}
.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.pure-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.pure-form .pure-group fieldset {
  margin-bottom: 10px;
}
.pure-form .pure-group input {
  display: block;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.pure-form .pure-group input:focus {
  z-index: 2;
}
.pure-form .pure-group input:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
}
.pure-form .pure-group input:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
}
.pure-form .pure-group button {
  margin: 0.35em 0;
}
.pure-form .pure-input-1 {
  width: 100%;
}
.pure-form .pure-input-2-3 {
  width: 66%;
}
.pure-form .pure-input-1-2 {
  width: 50%;
}
.pure-form .pure-input-1-3 {
  width: 33%;
}
.pure-form .pure-input-1-4 {
  width: 25%;
}
.pure-form input[type="text"]:focus,
.pure-form input[type="password"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="url"]:focus,
.pure-form input[type="date"]:focus,
.pure-form input[type="month"]:focus,
.pure-form input[type="time"]:focus,
.pure-form input[type="datetime"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="week"]:focus,
.pure-form input[type="number"]:focus,
.pure-form input[type="search"]:focus,
.pure-form input[type="tel"]:focus,
.pure-form input[type="color"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
  outline: 0;
  outline: thin dotted 9;
  border-color: #129fea;
}
.pure-form input[type="file"]:focus,
.pure-form input[type="radio"]:focus,
.pure-form input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 1px auto #129fea;
}
.pure-form .pure-checkbox,
.pure-form .pure-radio {
  margin: 0.5em 0;
  display: block;
}
.pure-form input[type="text"][disabled],
.pure-form input[type="password"][disabled],
.pure-form input[type="email"][disabled],
.pure-form input[type="url"][disabled],
.pure-form input[type="date"][disabled],
.pure-form input[type="month"][disabled],
.pure-form input[type="time"][disabled],
.pure-form input[type="datetime"][disabled],
.pure-form input[type="datetime-local"][disabled],
.pure-form input[type="week"][disabled],
.pure-form input[type="number"][disabled],
.pure-form input[type="search"][disabled],
.pure-form input[type="tel"][disabled],
.pure-form input[type="color"][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
  background: #eee;
  color: #777;
  border-color: #ccc;
}
.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
.pure-form input:focus:invalid:focus,
.pure-form textarea:focus:invalid:focus,
.pure-form select:focus:invalid:focus {
  border-color: #e9322d;
}
.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
.pure-form-stacked input[type="text"],
.pure-form-stacked input[type="password"],
.pure-form-stacked input[type="email"],
.pure-form-stacked input[type="url"],
.pure-form-stacked input[type="date"],
.pure-form-stacked input[type="month"],
.pure-form-stacked input[type="time"],
.pure-form-stacked input[type="datetime"],
.pure-form-stacked input[type="datetime-local"],
.pure-form-stacked input[type="week"],
.pure-form-stacked input[type="number"],
.pure-form-stacked input[type="search"],
.pure-form-stacked input[type="tel"],
.pure-form-stacked input[type="color"],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}
.pure-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}
.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
.pure-form-aligned .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.pure-form-aligned textarea {
  vertical-align: top;
}
.pure-form-aligned .pure-control-group {
  margin-bottom: 0.5em;
}
.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
  margin-bottom: 0.3em;
  text-align: left;
  display: block;
  width: 100%;
}
.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 10em;
  margin: 1.5em 0 0 0;
}
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}
.pure-form .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}
.pure-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}
@media only screen and (max-width: 480px) {
  .pure-form button[type="submit"] {
    margin: 0.7em 0 0;
  }
  .pure-form input:not([type]),
  .pure-form input[type="text"],
  .pure-form input[type="password"],
  .pure-form input[type="email"],
  .pure-form input[type="url"],
  .pure-form input[type="date"],
  .pure-form input[type="month"],
  .pure-form input[type="time"],
  .pure-form input[type="datetime"],
  .pure-form input[type="datetime-local"],
  .pure-form input[type="week"],
  .pure-form input[type="number"],
  .pure-form input[type="search"],
  .pure-form input[type="tel"],
  .pure-form input[type="color"],
  .pure-form label {
    margin-bottom: 0.3em;
    display: block;
  }
  .pure-group input:not([type]),
  .pure-group input[type="text"],
  .pure-group input[type="password"],
  .pure-group input[type="email"],
  .pure-group input[type="url"],
  .pure-group input[type="date"],
  .pure-group input[type="month"],
  .pure-group input[type="time"],
  .pure-group input[type="datetime"],
  .pure-group input[type="datetime-local"],
  .pure-group input[type="week"],
  .pure-group input[type="number"],
  .pure-group input[type="search"],
  .pure-group input[type="tel"],
  .pure-group input[type="color"] {
    margin-bottom: 0;
  }
  .pure-form .pure-help-inline,
  .pure-form-message-inline,
  .pure-form-message {
    display: block;
    font-size: 0.75em;
    padding: 0.2em 0 0.8em;
  }
}
@font-face {
  font-family: 'pt-sans-regular';
  src: url("fonts/ptsans_regular/PTS55F-webfont.eot");
  src: url("fonts/ptsans_regular/PTS55F-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptsans_regular/PTS55F-webfont.woff2") format("woff2"), url("fonts/ptsans_regular/PTS55F-webfont.woff") format("woff"), url("fonts/ptsans_regular/PTS55F-webfont.ttf") format("truetype"), url("fonts/ptsans_regular/PTS55F-webfont.svg#pt-sans-regular") format("svg");
}
@font-face {
  font-family: 'pt-sans-narrow';
  src: url("fonts/ptsansnarrow/PTN57F-webfont.eot");
  src: url("fonts/ptsansnarrow/PTN57F-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ptsansnarrow/PTN57F-webfont.woff2") format("woff2"), url("fonts/ptsansnarrow/PTN57F-webfont.woff") format("woff"), url("fonts/ptsansnarrow/PTN57F-webfont.ttf") format("truetype"), url("fonts/ptsansnarrow/PTN57F-webfont.svg#pt-sans-narrow") format("svg");
}
html,
p,
button,
input,
select,
textarea {
  font-family: 'pt-sans-narrow';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'pt-sans-regular';
}
body {
  height: 100vh;
  width: 100vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#app {
  min-height: 100vh;
  width: 100%;
  position: absolute;
}
.con {
  height: 100vh;
}
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.main-app {
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
}
.main-app .logo-container {
  height: 100%;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10;
}
.main-app .logo-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.main-app .logo-container .logo svg {
  height: 30vh;
  left: 35vw;
  position: absolute;
  top: 40vh;
  width: 30vw;
}
.v-center {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
nav.nav {
  background-color: #333;
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}
nav.nav ul {
  list-style: none;
  position: absolute;
  visible: hidden;
  z-index: 2;
}
nav.nav >ul {
  display: inline-block;
  left: 0;
  top: 0;
  padding: 0;
  position: relative;
  margin: 0;
}
nav.nav >ul:focus {
  outline: 0;
}
nav.nav li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  zoom: 1;
}
nav.nav li a {
  color: #fff;
  display: block;
  padding: 20px 20px;
  white-space: nowrap;
}
nav.nav li a.active {
  background: #d1d2d4;
  color: #125074;
}
nav.nav li:hover {
  background: #d1d2d4;
}
nav.nav li li {
  display: block;
}
.nav_links {
  float: right;
}
.nav_logo {
  float: left;
  padding-left: 2em;
}
.nav_logo div {
  display: inline-block;
}
.nav_logo .nav_logo-type svg {
  height: 3em;
  width: 8em;
  fill: #fff;
}
.nav_logo .nav_logo-mark svg {
  height: 3em;
  width: 3em;
}
.nav_links-hamburger {
  display: none;
}
@media (max-width: 30em) {
  .nav_links-hide {
    display: none !important;
  }
  .nav_links-hamburger {
    display: inline-block;
    float: right;
    height: 3em;
  }
  .nav_links-hamburger svg {
    height: 3em;
    fill: #fff;
  }
}
.SideNav {
  height: 100vh;
  position: fixed;
  width: 30vw;
  background-color: #fff;
  z-index: 21;
  right: 0;
  top: 0;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
}
.SideNav ul {
  list-style-type: none;
  padding: 0;
}
.SideNav ul li {
  padding-right: 2em;
  padding-left: 2em;
  height: 3em;
}
.SideNav a {
  color: #000;
  display: block;
}
.SideNav-close {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.SideNav_overlay {
  background-color: rgba(0,0,0,0);
  height: 100%;
  right: -100%;
  position: fixed;
  top: 0;
  -webkit-transition: right 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: right 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: 100%;
  z-index: 20;
}
.SideNav_overlay.SideNav_overlay-show {
  right: 0px;
  background-color: rgba(0,0,0,0.54);
  -webkit-transition: right 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: right 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.first-con {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.banner {
  background-image: url("../images/subtle_carbon.png");
  height: 50%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100vw;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .banner {
    background-image: url("../images/subtle_carbon@2x.png");
    background-size: 18px 15px;
  }
}
.banner img {
  position: relative;
  left: 0;
}
.banner header {
  position: absolute;
  top: 0;
  width: 100vw;
}
.banner header h1 {
  padding-top: 10vh;
}
.first-con_bot {
  text-align: center;
}
.first-con_bot p {
  font-size: 1.3em;
  padding-top: 25vh;
}
@media all and (orientation: portrait) {
  .banner img {
    left: -30vw;
    height: 70vh;
  }
}
@media all and (orientation: landscape) {
  .banner img {
    width: 100vw;
  }
}
.services {
  background-color: #c1272d;
  color: #fff;
}
.services_heading {
  text-align: center;
  overflow: auto;
}
.services_heading h2 {
  padding-top: 2em;
}
.services_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  max-width: 960px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}
.services_content article {
  padding: 0 1em;
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  width: 260px;
}
@media all and (min-width: 30.063em) and (max-width: 40em) {
  .services_content {
    margin: 0 2em;
  }
  .services_content article {
    width: 240px;
  }
}
@media all and (min-width: 40em) and (max-width: 50em) {
  .services_content {
    margin: 0 4em;
  }
}
@media all and (min-width: 50em) {
  .services_content {
    margin: 0 auto;
  }
}
@media all and (max-width: 30.063em) {
  .services_content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .services_content article {
    width: 70vw;
  }
}
.work {
  background-color: #125074;
  color: #fff;
  background-image: url("../images/subtle_carbon.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .work {
    background-image: url("../images/subtle_carbon@2x.png");
    background-size: 18px 15px;
  }
}
.work_heading {
  text-align: center;
  overflow: auto;
}
@media all and (max-width: 60em) {
  .work_content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .work_content article {
    display: block;
    width: 100.83333333333331%;
    margin: 0 -0.4166666666667%;
  }
}
@media all and (min-width: 60.063em) {
  .work_content {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
  }
  .work_content article {
    display: block;
    width: 980px;
    margin: 0 -10px;
  }
  .work_content article .work_copy {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 380px;
    margin: 0 10px;
    margin-left: 90px;
  }
  .work_content article .work_img {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 380px;
    margin: 0 10px;
  }
}
.work_content {
  height: 75%;
  overflow: visible;
}
.work_content article {
  display: inline-block;
  padding-bottom: 3em;
}
.work_content article .work_copy {
  text-align: left;
  display: inline-block;
}
.work_content article .work_copy header {
  text-align: center;
}
.work_content article .work_copy >p {
  padding: 40px;
  padding-top: 5px;
}
.work_content article .work_img {
  position: relative;
  height: 20em;
}
.work_content article .work_img div.pending {
  text-align: center;
  height: 20em;
}
.work_content article .work_img div.pending:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.work_content article .work_img img {
  display: block;
  margin: 0 auto;
  height: 20em;
  max-width: 100%;
}
@media all and (max-width: 60em) and (min-width: 30.063em) and (max-width: 60em) {
  .work_copy {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 49.1666666666667%;
    margin: 0 0.4166666666667%;
  }
  .work_img {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 49.1666666666667%;
    margin: 0 0.4166666666667%;
  }
}
.notFound {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.notFound_layout {
  display: block;
  width: 100.83333333333331%;
  margin: 0 -0.4166666666667%;
}
.notFound_main {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 32.5%;
  margin: 0 0.4166666666667%;
  margin-left: 33.75%;
  padding-top: 20vh;
}
.connect {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #0e5f8e;
  color: #fff;
  position: absolute;
}
.connect_heading,
.connect_error {
  display: block;
  width: 100.83333333333331%;
  margin: 0 -0.4166666666667%;
  color: #fff;
  overflow: auto;
  text-align: center;
}
.connect_heading span.threes,
.connect_error span.threes {
  color: #c1272d;
}
.connect_container {
  position: relative;
  pointer-events: none;
}
.connect_container >div {
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.connect_container >div >.connect {
  pointer-events: all;
}
.connect_form input {
  color: #000;
}
.connect_form .connect_name {
  display: block;
  width: 100.83333333333331%;
  margin: 0 -0.4166666666667%;
}
.connect_form .connect_name:first-child {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 49.1666666666667%;
  margin: 0 0.4166666666667%;
  margin-bottom: 1em;
  margin-left: 25.4166666666667%;
}
.connect_form .connect_name:first-child input {
  height: 2.1rem;
  width: 100%;
}
.connect_form .connect_email {
  display: block;
  width: 100.83333333333331%;
  margin: 0 -0.4166666666667%;
}
.connect_form .connect_email div:first-child {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 32.5%;
  margin: 0 0.4166666666667%;
  margin-bottom: 1em;
  margin-right: 0;
  margin-left: 25.4166666666667%;
}
.connect_form .connect_email div:first-child input {
  height: 2.1rem;
  width: 100%;
}
.connect_form .connect_email div:last-child {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 16.6666666666667%;
  margin: 0 0.4166666666667%;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 1em;
  margin-left: 0;
}
.connect_form .connect_email div:last-child span {
  border-left: none;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  height: 2.1rem;
  line-height: 2.1rem;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  width: 100%;
}
.connect_form .connect_email div:last-child span:hover {
  background-color: #9a1f24;
}
.connect_form button {
  color: #fff;
  background-color: #c1272d;
  border-radius: 0 4px 4px 0;
  padding-left: 0;
}
.connect_form span {
  background-color: #c1272d;
  border-left: none;
}
input[type = 'email'].connect_input {
  margin-right: 0;
  border-radius: 4px 0 0 4px;
}
.connect_sending {
  text-align: center;
}
.connect_sending:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.connect_init-enter {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 0.01;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}
.connect_init-enter.connect_init-enter-active {
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
.connect_init-leave {
  -ms-filter: none;
  filter: none;
  opacity: 1;
  -webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}
.connect_init-leave.connect_init-leave-active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 0.01;
}
.connect_sent-enter {
  -webkit-animation: moveLeft 0.5s;
  animation: moveLeft 0.5s;
}
.connect_sent-enter.connect_sent-enter-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.connect_sent-leave {
  -webkit-animation: moveRight 0.5s;
  animation: moveRight 0.5s;
}
.connect_sent-leave.connect_sent-leave-active {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.connect_sending-leave {
  -webkit-animation: moveRight 0.5s;
  animation: moveRight 0.5s;
}
.connect_sending-leave.connect_sent-leave-active {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.connect_error-enter {
  -webkit-animation: moveLeft 0.5s;
  animation: moveLeft 0.5s;
}
.connect_error-enter.connect_sent-enter-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.connect_error-leave {
  -webkit-animation: moveRight 0.5s;
  animation: moveRight 0.5s;
}
.connect_error-leave.connect_sent-leave-active {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.connect_sending-path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
.connect_sending-spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}
@-moz-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes moveRight {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-o-keyframes moveRight {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes moveRight {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@-moz-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@-o-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@-moz-keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@-webkit-keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@-o-keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    -ms-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    -ms-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@-o-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    -ms-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    -ms-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  text-align: center;
}
.blog {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 60px;
}
.blog_layout {
  display: block;
  width: 100.83333333333331%;
  margin: 0 -0.4166666666667%;
  padding-top: 65px;
}
.posts_wrapper {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 82.5%;
  margin: 0 0.4166666666667%;
  margin-left: 8.75%;
}
@media all and (min-width: 768px) {
  .posts_wrapper {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 65.8333333333333%;
    margin: 0 0.4166666666667%;
    margin-left: 17.0833333333333%;
  }
}
@media all and (min-width: 992px) {
  .posts_wrapper {
    display: inline-block;
    float: left;
    overflow: hidden;
    width: 49.1666666666667%;
    margin: 0 0.4166666666667%;
    margin-left: 25.4166666666667%;
  }
}
.post {
  text-align: justify;
}
.post strong {
  font-size: 1.5em;
}
a.post_title {
  color: #000;
}
.post_subheading {
  font-size: 0.8em;
  color: #9b9b9b;
}
.post_readmore {
  text-align: center;
  border-bottom: 1px solid #dad7d6;
  border-top: 1px solid #dad7d6;
}
.post_readmore a {
  color: #9b9b9b;
  line-height: 50px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.post_readmore a:hover {
  color: #f00;
}
.post-cover {
  padding-top: 10px;
  text-align: center;
}
.post-cover img {
  max-width: 80vw;
}
@media all and (min-width: 768px) {
  .post-cover img {
    max-width: 70vw;
  }
}
@media all and (min-width: 992px) {
  .post-cover img {
    max-width: 50vw;
  }
}
.post p {
  font-size: large;
}
