.email
  color $r3d
  background-color $black
  overflow auto
  .email_content
    header
      text-align center

  h2
    margin-top 0
  a
    color lighten($r3d, 5)

+media-query(all, min-width 30em, max-width 60em)
  .email
    .email_content
      gs('fluid')
      header
        row()

+media-query(all, min-width 60em)
  .email
    .email_content
      gs('fixed')
      header
        row()
