@import 'kouto-swiss'
normalize()
box-sizing-reset()
@import 'util/buttons'
@import 'util/forms'
@import 'util/util'

ks-vendors-prefixes = recommended

font-face('pt-sans-regular', 'fonts/ptsans_regular/PTS55F-webfont')
font-face('pt-sans-narrow', 'fonts/ptsansnarrow/PTN57F-webfont')

html
p
button
input
select
textarea
  font-family 'pt-sans-narrow'

h1
h2
h3
h4
h5
h6
  font-family 'pt-sans-regular'

body
  height 100vh
  width 100vw
  box-sizing border-box

#app
  min-height 100vh
  width 100%
  position absolute

.con
  height 100vh

/* wipe link styles */
a
  text-decoration none
  &:hover
  &:focus
  &:visited
  &:active
    text-decoration none
    color inherit

@import 'home/home'
@import 'nav/nav'
@import 'logo/logo'
@import 'banner/banner'
@import 'services/services'
@import 'work/work'
@import 'workShpe/workShpe'
@import 'workWeather/workWeather'
@import 'errors/404'
@import 'about/about'
@import 'connect/connect'
@import 'footer/footer'
@import 'blog/blog'
@import 'team/team'
@import 'email/email'
