.logo
  svg
    height 30vh
    padding-top 6vh
    width 30vw

.logo-container
  pointer-events none
  z-index 10

.logo-container
  height 100%
  position absolute
  text-align center
  width 100%
  &:before
    content ''
    display inline-block
    height 100%
    vertical-align middle

.v-center
  display inline-block
  width 100%
  vertical-align middle
