@require 'util'

r3dm-grey = #9B9B9B
border-grey = #DAD7D6

a.post-slug,
a:hover.post-slug,
a:focus.post-slug,
a:active.post-slug
  text-decoration none

a.read-full-story,
a:focus.read-full-story,
a:active.read-full-story
  text-decoration none

a.post-slug
  color black

.date-and-author
  font-size 0.8em
  color r3dm-grey

div.post
  text-align justify

div.read-full-story-container
  text-align center
  border-bottom 1px solid border-grey
  border-top 1px solid border-grey

a.read-full-story
  color r3dm-grey
  line-height 50px
  transition all 0.5s ease-in-out 0s
a:hover.read-full-story
  color red

.blog-layout
  padding-top 50px
