@require 'util'

r3dm-grey = #9B9B9B
border-grey = #DAD7D6

.blog
  gs('fluid')
  padding-bottom 60px

.blog_layout
  row()
  padding-top 65px

.posts_wrapper
  col(10)
  offset(1)

+media-query( all, min-width 768px )
  .posts_wrapper
    col(8)
    offset(2)

+media-query( all, min-width 992px )
  .posts_wrapper
    col(6)
    offset(3)
