#work_shpe_article
  background-color $black
  retina-image("../images/subtle_carbon.png")
  width 100%
  color white
  display inline-block
  padding-top 2em
  padding-bottom 2em

  .work-shpe-copy
    text-align center

  .work_copy
    display inline-block
    max-width 350px
    text-align justify
    header
      text-align center
      font-size 1.3em
    > p
      font-size: 1.15em
      text-align justify
      padding 5px 40px 0 40px
    a
      color white
      font-style italic
    a.case-study
      padding 0 20px 0 50px
    a.visit-work
      padding 0 0 0 0
    i
      color $r3d
      padding 0 0 0 5px

  .work_img
    display inline-block
    backface-visibility hidden
    height 20em
    position relative
    div.pending
      text-align center
      height 20em
      &:before //vertical center
        content ''
        display inline-block
        height 100%
        vertical-align middle
    img
      border 1px transparent solid //ff hack image clipping.
      display block
      margin 0 auto
      height 20em
      max-width 100%
