nav.nav
  background-color darkBlue
  display inline-block
  position fixed
  top 0
  width 100vw
  z-index 20
  ul
    list-style none
    position absolute
    visible hidden
    z-index 2
  >ul
    display inline-block
    left 0
    top 0
    padding 0
    position relative
    margin 0
    &:focus
      outline 0
  li
    display inline-block
    position relative
    vertical-align middle
    zoom 1
    a
      color white
      display block
      padding 20px 20px
      white-space nowrap

    a.active
      background $gray
      color darkBlue
    &:hover
      background $gray
    li
      display block

.nav_links
  float right

@media (max-width: 30em)
  .nav_links-hide
    display none !important
  .nav_links-hamburger
    display inline-block
    float right
    height 3em
    svg
      height 3em
      fill white

@media (min-width: 30.063em)
  .nav_links-hamburger
    display none

@import 'sideNav'
