.about
  color white
  background-color $r3d
  overflow auto
  .about_content
    header
      text-align center
    > p
      padding 40px
      padding-top 5px

+media-query(all, min-width 30em, max-width 60em)
  .about
    padding-bottom 3em
    .about_content
      gs('fluid')
      header
        row()
      p
        padding 0
        row()
        col(6)
        offset(3)

+media-query(all, min-width 60em)
  .about
    padding-bottom 3em
    .about_content
      gs('fixed')
      header
        row()
      p
        padding 0
        row()
        col(6)
        offset(3)
